* {
  outline: 1px solid red;
}

body {
  font-size: 12px;
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
  color: #00807e;
}

/* ----*/
.addTicketPannel {
  max-width: 920px;
  box-shadow: 0 3px 6px #00000029;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 100px;
}

.addTicket_img {
  box-sizing: border-box;
  flex: 50%;
  padding: 60px 0 138px 95px;
}

.logo {
  width: 350px;
  margin-bottom: 12px;
}

.logo2 {
  width: 350px;
}

/* 選單區塊 */
.addTicketForm {
  box-sizing: border-box;
  flex: 50%;
  margin-top: 60px;
  padding-right: 95px;
  display: flex;
  flex-flow: column;
}

.formTitle {
  color: #00807e;
  border-bottom: 3px solid #00807e;
  padding-bottom: 4px;
  margin-bottom: 32px;
}

.formTitle span i {
  padding-right: 6px;
}

.addTicket-input {
  font-size: 16px;
  color: #00807e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.addTicket-input label {
  padding-right: 31px;
}

.addTicket-input input,
select {
  background-color: #fafafa;
  border: none;
  border-bottom: 1px solid #00807e;
  /* font-size: 1.2em; */
  padding: 8px 75px 8px 12px;
  max-width: 255px;
}

.addTicket-input select {
  padding: 8px 130px 8px 12px;
  color: #666;
}

#groupTicketDescription {
  box-sizing: border-box;
  max-width: 255px;
  background-color: #fafafa;
  border: none;
  border-bottom: 1px solid #00807e;
  padding: 8px 0px 8px 12px;
}

.addTicket-btn {
  width: 160px;
  height: 48px;
  background-color: #00807e;
  border: none;
  border-radius: 5px;
  padding: 10px 40px;
  color: white;
  font-size: 20px;
  align-self: flex-end;
}

/* 卡片區塊 */
.mainContent {
  background-color: #eee;
  height: 800px;
}

.mainWrap {
  max-width: 1120px;
  margin: auto;
  padding-top: 55px;
  height: 500px;
}

@media (max-width: 768px) {
  .addTicketPannel {
    margin: 20px;
  }

  .addTicket_img {
    flex: 100%;
    padding: 0;
    display: flex;
  }
  .logo {
    margin: auto;
  }
  .logo2 {
    display: none;
  }

  .addTicketForm {
    padding: 10px;
    margin-top: 10px;
  }
}
